{#
    Molecule: Bottle Card (spécifique au projet e-commerce de vin)
    Usage: {% include 'components/molecules/bottle-card.html.twig' with {bottle: bottle} %}
#}
{% if bottle.designation == 'Bourgogne' %}
	<a href="{{ path('app_bourgogne') }}" class="bottle-card {{ class|default('') }}" style="text-decoration: none; color: inherit; display: block;">
		{% if bottle.imgurl %}
			<div class="bottle-card__image">
				{% include 'components/atoms/image.html.twig' with {src: bottle.imgurl, alt: bottle.designation} %}
			</div>
		{% endif %}
		<div class="bottle-card__content">
			{% include 'components/atoms/heading.html.twig' with {text: bottle.designation, level: 3} %}
			{% if bottle.description %}
				<p class="bottle-card__description">{{ bottle.description }}</p>
			{% endif %}
		</div>
	</a>
{% else %}
	<div class="bottle-card {{ class|default('') }}">
		{% if bottle.imgurl %}
			<div class="bottle-card__image">
				{% include 'components/atoms/image.html.twig' with {src: bottle.imgurl, alt: bottle.designation} %}
			</div>
		{% endif %}
		<div class="bottle-card__content">
			{% include 'components/atoms/heading.html.twig' with {text: bottle.designation, level: 3} %}
			{% if bottle.description %}
				<p class="bottle-card__description">{{ bottle.description }}</p>
			{% endif %}
		</div>
	</div>
{% endif %}
